*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
 * Should include it for any selection
 * using flex-box
 */
.flex {
  -ms-flex-align: stretch;
  -ms-flex-direction: column;
  -ms-flex-negative: 0;
  -ms-flex-preferred-size: auto;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-basis: auto;
  -webkit-flex-direction: column;
  -webkit-flex-shrink: 0;
  align-items: stretch;
  border: 0 solid black;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-height: 0px;
  min-width: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  z-index: 0;
}

.text {
  border: 0 solid black;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 1);
  display: inline;
  font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.link {
  background-color: rgba(0, 0, 0, 0);
  color: inherit;
  font: inherit;
  list-style: none;
  margin: 0px;
  text-align: inherit;
  text-decoration: none;
}

.container {
  flex: 1;
  flex-direction: row;
  height: 100vh;
  min-height: 677px;
}

/*
 * Header
 */
.head-container {
  flex-grow: 1;
  align-items: flex-end;
  z-index: 3;
  user-select: none;
}

.wrapper-container {
  width: 275px;
}

.wrapper {
  height: 100%;
  backface-visibility: hidden;
  top: 0px;
  position: fixed;
}

.wrapper__sub {
  overflow-y: auto;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 275px;
  height: 100%;
  padding-left: 12px;
  padding-right: 12px;
}

.menu {
  align-items: flex-start;
}

/*
 * Bird
 */

.selection__bird-wrapper {
  max-width: 100%;
  padding-bottom: 2px;
  padding-top: 2px;
}

.bird-wrapper__container {
  min-width: 32px;
  align-self: stretch;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.bird-link {
  outline: none;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  min-width: 48px;
  min-height: 48px;
  background-color: rgba(0, 0, 0, 0);
  height: 0px;
  cursor: pointer;
}

.bird-link-outer {
  font-weight: 700;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.3125;
  overflow-wrap: break-word;
  min-width: 0px;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-direction: row;
  text-align: center;
  color: rgba(29, 161, 242, 1);
  width: 100%;
  max-width: 100%;
}

.bird {
  height: 2rem;
  width: 1.5em;
  flex-shrink: 0;
  flex-grow: 1;
  color: rgba(29, 161, 242, 1);
  user-select: none;
  vertical-align: text-bottom;
  position: relative;
  max-width: 100%;
  fill: currentcolor;
  display: inline-block;
  overflow: hidden;
  font-weight: 700;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.3125;
  overflow-wrap: break-word;
  flex-direction: row;
  text-align: center;
}

/*
 * Menu
 */

.selection__selection-menu-wrapper {
  margin-top: 2px;
  margin-bottom: 4px;
  width: 100%;
}

.selection__navigation-list {
  flex-direction: column;
  align-items: flex-start;
}

.navigation-item {
  flex-direction: column;
  outline-style: none;
  cursor: pointer;
  align-items: flex-start;
  flex-grow: 1;
  width: 100%;
  padding-bottom: 0px;
  padding-top: 0px;
}

.link-outer {
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: 100%;
  padding: 12px;
  border-radius: 9999px;
}

.link-outer:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

.link-outer:hover .link-icon {
  color: rgba(29, 161, 242, 1);
}

.link-outer:hover .link-text {
  color: rgba(29, 161, 242, 1);
}

.link-icon-active {
  height: 1.75rem;
  color: rgba(29, 161, 242, 1);
  user-select: none;
  vertical-align: text-bottom;
  position: relative;
  max-width: 100%;
  fill: currentcolor;
  display: inline-block;
}

.link-icon {
  height: 1.75rem;
  user-select: none;
  vertical-align: text-bottom;
  position: relative;
  max-width: 100%;
  fill: currentcolor;
  display: inline-block;
}

.link-text-active {
  margin-right: 16px;
  margin-left: 20px;
  font-size: 19px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.3125;
  overflow-wrap: break-word;
  min-width: 0px;
  color: rgba(29, 161, 242, 1);
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link-text {
  margin-right: 16px;
  margin-left: 20px;
  font-size: 19px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.3125;
  overflow-wrap: break-word;
  min-width: 0px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link-tag {
  font-family: inherit;
  overflow-wrap: break-word;
  min-width: 0px;
  color: inherit;
  font: inherit;
  white-space: inherit;
}

/*
 * Tweet Button
 */

.selection__tweet-button {
  width: 90%;
  margin-bottom: 4px;
  margin-top: 4px;
}

.make-tweet {
  background-color: rgb(29, 161, 242);
  box-shadow: rgb(0 0 0 / 8%) 0px 8px 28px;
  outline-style: none;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  min-width: calc(77.28px);
  min-height: 48px;
  height: 0px;
  cursor: pointer;
  user-select: none;
  padding-left: 32px;
  padding-right: 32px;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  border-style: solid;
  border-radius: 9999px;
}

.tweet-button {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.3125;
  overflow-wrap: break-word;
  min-width: 0px;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-direction: row;
  text-align: center;
  max-width: 100%;
  display: flex;
}

.tweet-button-text {
  font-family: inherit;
  overflow-wrap: break-word;
  min-width: 0px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: inherit;
  font: inherit;
  white-space: inherit;
}

/*
 * Menu User content
 */

.user-content1 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.user-content1__wrapper {
  outline-style: none;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  align-items: center;
  flex-direction: row;
  padding: 12px;
  border-radius: 9999px;
  display: flex;
  cursor: pointer;
}

.user-content1__wrapper:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

.user-avatar__wrapper {
  width: 40px;
  height: 40px;
  outline-style: none;
  border-radius: 9999px;
  overflow: hidden;
}

.user-avatar__presenter {
  overflow: hidden;
  display: block;
}

.user-avatar__undisplayed {
  box-shadow: rgb(0 0 0 / 2%) 0px 0px 2px inset;
  outline-style: none;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-color: rgba(0, 0, 0, 0.04);
  border-width: 1px;
  border-radius: 9999px;
}

.user-present__undisplay {
  padding-bottom: 100%;
  width: 100%;
  display: block;
}

.user-present__wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  display: block;
}

.user-present__avatar {
  flex-basis: auto;
  z-index: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: 9999px;
  overflow: hidden;
}

.user-avatar {
  inset: 0px;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.avatar-presentation {
  background-image: url(./avatar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.user-ident__wrapper {
  outline-style: none;
  flex-shrink: 1;
  max-width: 100%;
  margin-left: 12px;
  margin-right: 12px;
}

.user-ident__name {
  align-items: center;
  flex-direction: row;
  max-width: 100%;
}

.user-ident__sign {
  flex-shrink: 1;
  flex-direction: row;
}

.user-ident__name_undisplay {
  flex-shrink: 0;
  font-weight: 400;
  font-size: 15px;
  color: rgb(15, 20, 25);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.3125;
  overflow-wrap: break-word;
  min-width: 0px;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  flex-direction: row;
}

.user-ident__name_highlight {
  white-space: nowrap;
  font-weight: 700;
  font-size: 15px;
  color: rgb(15, 20, 25);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.3125;
  overflow-wrap: break-word;
  min-width: 0px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-ident__name_highlight span {
  font-family: inherit;
  overflow-wrap: break-word;
  min-width: 0px;
  color: inherit;
  font: inherit;
  white-space: inherit;
}

.user-ident__sign {
  color: rgb(91, 112, 131);
  font-weight: 400;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.3125;
  overflow-wrap: break-word;
  min-width: 0px;
  flex-direction: row;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-ident__sign span {
  font-family: inherit;
  overflow-wrap: break-word;
  min-width: 0px;
  color: inherit;
  font: inherit;
  white-space: inherit;
}

.user-more__wrapper {
  flex-grow: 1;
  align-items: flex-end;
}

.user-more-button {
  color: rgb(15, 20, 25);
  user-select: none;
  position: relative;
  max-width: 100%;
  height: 1.25em;
  fill: currentcolor;
  display: inline-block;
  overflow: hidden;
}

/*
 * Main
 */
.main {
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 1;
}

.main-wrapper {
  width: 990px;
  flex-shrink: 1;
  flex-grow: 1;
}

.main-wrapper__outer {
  align-items: stretch;
  background-color: rgba(0, 0, 0, 0);
  justify-content: space-between;
  flex-grow: 1;
  flex-direction: 1;
  width: 100%;
  min-height: 100%;
}

.feed-wrapper {
  max-width: 600px;
  margin-right: 0px;
  margin-left: 0px;
  z-index: 1;
  border-right-width: 1px;
  border-left-width: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  border-color: rgb(235, 238, 240);
  border-style: solid;
}

.current-page-wrapper {
  top: -0.5px;
  position: sticky;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(235, 238, 240);
  backface-visibility: hidden;
  z-index: 3;
  background-color: rgba(255, 255, 255, 1);
}

.current-page__name-wrapper {
  z-index: 2;
  cursor: pointer;
  height: 53px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: rgba(255, 255, 255, 1);
}

.current-page__name {
  max-width: 1000px;
  height: 53px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.current-page__name__container {
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 1;
  height: 100%;
  flex-grow: 1;
}

.page-name {
  font-weight: 800;
  line-height: 24px;
  font-size: 20px;
  color: rgb(15, 20, 25);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  overflow-wrap: break-word;
  min-width: 0px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page-name span {
  font-family: inherit;
  overflow-wrap: break-word;
  min-width: 0px;
  color: inherit;
  font: inherit;
  white-space: inherit;
}

.current-page__utility__container {
  margin-left: 16px;
  min-height: 32px;
  min-width: 32px;
  align-self: stretch;
  justify-content: center;
  align-items: center;
}

.current-page__stars__container {
  margin-right: calc(0px + (-1 * (42px - 1.5rem)) / 2);
  min-width: 40px;
  min-height: 40px;
  outline-style: none;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  background-color: rgba(0, 0, 0, 0);
  height: 0px;
  user-select: none;
  padding-left: 0px;
  padding-right: 0px;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  border-style: solid;
  border-radius: 9999px;
}

.current-page__stars__outer {
  font-weight: 700;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 20px;
  overflow-wrap: break-word;
  min-width: 0px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: rgba(29, 161, 242, 1);
  max-width: 100%;
}

.current-page__stars__outer svg {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  color: rgba(29, 161, 242, 1);
  user-select: none;
  vertical-align: text-bottom;
  position: relative;
  max-width: 100%;
  fill: currentcolor;
  display: inline-block;
}

.feed-create-wrapper {
  z-index: 1;
  background-color: rgba(255, 255, 255, 1);
  padding-bottom: 4px;
}

.progressbar-container {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  height: 0.2rem;
  z-index: 0;
  width: 100%;
  position: absolute;
  user-select: none;
  overflow: hidden;
}

.progressbar {
  transition-timing-function: linear;
  transition-property: width;
  transition-duration: 0.5s;
  z-index: -1;
  background-color: rgb(29, 161, 242);
  height: 100%;
}

.create-twit-group {
  flex-direction: row;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: rgba(255, 255, 255, 1);
}

.create-twit-group__user {
  padding-top: 4px;
  flex-basis: 48px;
  margin-right: 12px;
  flex-grow: 0;
}

.create-twit-group__user-image {
  height: 48px;
  outline-style: none;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  border-radius: 9999px;
}

.create-twit-group__input {
  transition-timing-function: ease-out;
  transition-property: opacity, color;
  transition-duration: 0.1s;
  position: static;
  padding-top: 4px;
  justify-content: center;
  flex-basis: 0px;
  flex-grow: 1;
}

.create-twit-group__input-box {
  border-width: 2px;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0);
  position: static;
  z-index: 1;
  flex-shrink: 1;
  flex-grow: 1;
  width: 100%;
  padding: 12px;
}

.create-twit-group__input-box textarea {
  font-size: 22px;
  border: none;
  height: fit-content;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  outline: none;
  resize: none;
  overflow: auto;
  word-wrap: break-word;
}

.breaker {
  background-color: rgb(235, 238, 240);
  width: 100%;
  height: 1px;
}

.create-twit-group__input-items {
  flex-wrap: wrap;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 1);
  margin-left: 2px;
  margin-right: 2px;
}

.input-items__container {
  margin-top: 12px;
  align-items: center;
  flex-direction: row;
}

.input-item__item {
  min-width: 40px;
  min-height: 40px;
  outline-style: none;
  height: 0px;
  transition-duration: 0.2s;
  transition-property: background-color, box-shadow;
  border-width: 1px;
  border-style: solid;
  border-radius: 9999px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border-color: rgba(0, 0, 0, 0);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.input-item__item:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

.input-item__item svg {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  color: rgba(29, 161, 242, 1);
  position: relative;
  fill: currentColor;
}

.input-items__button {
  margin-top: 12px;
  align-items: center;
  flex-direction: row;
}

.button__container {
  opacity: 0.5;
  margin-left: 12px;
  min-width: calc(64.4px);
  min-height: 40px;
  background-color: rgba(29, 161, 242);
  outline-style: none;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  height: 0px;
  justify-content: center;
  align-items: center;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  border-style: solid;
  border-radius: 9999px;
  cursor: pointer;
  padding-left: 1em;
  padding-right: 1em;
}

.button__container span {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 20px;
  text-align: center;
}

.supprise-wrapper {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(235, 238, 240);
  height: 12px;
  background-color: rgb(247, 249, 250);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(235, 238, 240);
}

.list-feed-wrapper {
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: realtive;
  min-height: 7795px;
}

.list-wrapper {
  position: absolute;
  width: 100%;
  transform: translateY(0px);
  transition: opacity 0.3s ease-out 0s;
}

.feed__container {
  border-bottom-width: 1px;
  border-bottom-color: rgb(235, 238, 240);
  outline-style: none;
  display: block;
}

.article__container {
  padding-right: 16px;
  padding-left: 16px;
  outline-style: none;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  cursor: pointer;
  flex-direction: row;
  overflow: hidden;
}

.article-owner-avatar {
  flex-basis: 48px;
  flex-grow: 0;
  margin-right: 12px;
  align-items: center;
}

.article-owner-avatar__link {
  display: block;
  cursor: pointer;
  height: 48px;
  outline-style: none;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  width: 100%;
  overflow: hidden;
  border-radius: 9999px;
}

.article-owner-avatar__link:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

.article-owner-avatar__image {
  background-image: url(https://pbs.twimg.com/profile_images/1368971439320219653/FlP_HZ4e_normal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}
